<div [style.maxHeight.px]="maxHeight" class="dialog-wrapper__wrapper">
  <close [dialogRef]="dialogRef"></close>
  <div dialog-header style="flex-grow: 0">
    <ng-container *ngTemplateOutlet="header"></ng-container>
  </div>
  <div dialog-body style="flex-grow: 1">
    <ng-container *ngTemplateOutlet="body"></ng-container>
  </div>
  <div dialog-footer style="flex-grow: 0">
    <ng-container *ngTemplateOutlet="footer"></ng-container>
  </div>
</div>
