@import '~@angular/material/theming';

@include mat-core();

$primary: mat-palette($mat-yellow, 800);
$accent: mat-palette($mat-orange, 600, 100, 800);
$warning: mat-palette($mat-yellow, 600);
$error: mat-palette($mat-red, 600);
$theme: mat-light-theme($primary, $accent, $error);

@include angular-material-theme($theme);

$c-black: #000;
$c-white: #fff;

$c-light: map-get($mat-light-theme-background, background);
$c-light-hover: lighten($c-light, 10%);
$c-light-darken: darken($c-light, 50%);
$c-light-darken-half: darken($c-light, 25%);
$c-light-lighten: lighten($c-light, 50%);
;
$c-light-lighten-half: lighten($c-light, 25%);

$c-dark: map-get($mat-light-theme-foreground, base);
$c-dark-hover: darken($c-dark, 10%);
$c-dark-darken: darken($c-dark, 50%);
$c-dark-darken-half: darken($c-dark, 25%);
$c-dark-lighten: lighten($c-dark, 50%);
$c-dark-lighten-half: lighten($c-dark, 25%);

$c-orange: map-get($accent, default);
$c-orange-hover: darken($c-orange, 10%);
$c-orange-darken: darken($c-orange, 50%);
$c-orange-darken-half: darken($c-orange, 25%);
$c-orange-lighten: lighten($c-orange, 50%);
$c-orange-lighten-half: lighten($c-orange, 25%);

$c-success: map-get($mat-green, 500);
$c-success-hover: darken($c-success, 10%);
$c-success-darken: darken($c-success, 50%);
$c-success-darken-half: darken($c-success, 25%);
$c-success-lighten: lighten($c-success, 50%);
$c-success-lighten-half: lighten($c-success, 25%);

$c-warning: map-get($warning, 600);
$c-warning-hover: darken($c-warning, 10%);
$c-warning-darken: darken($c-warning, 50%);
$c-warning-darken-half: darken($c-warning, 25%);
$c-warning-lighten: lighten($c-warning, 50%);
$c-warning-lighten-half: lighten($c-warning, 25%);

$c-error: map-get($error, default);
$c-error-hover: darken($c-error, 10%);
$c-error-darken: darken($c-error, 50%);
$c-error-darken-half: darken($c-error, 25%);
$c-error-lighten: lighten($c-error, 50%);
$c-error-lighten-half: lighten($c-error, 25%);
