@import '../../../../../stylesheets/generics/includables';

.score-wrapper {
  position: relative;
  height: 40px;
  width: 250px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  padding: 0;
  margin: 0;
  opacity: 0.5;
  font-family: 'VT323', monospace;

  .score {
    position: absolute;
    text-align: center;
    display: inline-block;
    font-size: 50px;
    height: 40px;
    line-height: 40px;
    width: 33%;
    top: 0;

    &.left {
      left: 0;
    }

    &.right {
      right: 0;
    }
  }

  .divider {
    position: relative;
    display: inline-block;
    height: 40px;
    width: 5px;
    background-color: $c-light;
    left: 50%;
    transform: translateX(-50%);
  }
}

.info {
  position: absolute;
  left: 0;
  bottom: 0;

  span {
    display: block;
  }
}

.field {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.paddle {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: $c-light;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

.countdown {
  position: absolute;
  width: 25px;
  height: 50px;
  top: 50%;
  left: 50%;
  font-size: 80px;
  font-family: 'VT323', monospace;
  transform: translate(-50%, -50%);
}

.ball {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: $c-light-darken-half;
}

.game-over {
  width: 100%;
  height: 100%;

  span {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100vh;
  }

  .options {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
