<div class="score-wrapper">
  <div class="score left">{{scoreLeft}}</div>
  <div class="divider"></div>
  <div class="score right">{{scoreRight}}</div>
</div>
<div class="field">
  <div class="game-over" *ngIf="gameOver">
    <span>You n00b</span>
    <div class="options">
      <a (click)="restart()" class="btn outline dark">again?</a>
    </div>
  </div>
  <div #ball class="ball"></div>
  <div #paddleLeft class="paddle left"></div>
  <div #paddleRight class="paddle right"></div>
</div>
<div class="info">
  <span>FPS: {{fps}} f/s</span>
  <span>Ball: {{ballspeed}} p/s</span>
</div>
<div *ngIf="countdown > 0" class="countdown">{{countdown}}</div>
