@import '../../../../stylesheets/generics/generic';

.application__wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.offline-mode,
.restas-offline {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 0;
  line-height: 25px;
  text-align: center;
  color: $c-light;
  opacity: 0;
  transition: .3s;

  &.visible {
    height: 25px;
    opacity: 1;
  }
}

.offline-mode {
  background-color: $c-dark-lighten-half;
}

.restas-offline {
  background-color: $c-error;
}
